{% extends 'default.html' %}
{% block title %} User {% endblock %}
   

     
{% block content %}
<h1>Liste des utilisateur</h1>

<table class="table table-dark table-striped">
    <thead>
      <tr>

        
        <th scope="col">#id</th>
        <th scope="col">nom_complet</th>
        <th scope="col">username</th>
        <th scope="col">password</th>
        
      </tr>
    </thead>
    <tbody>
        {%for User in users%}
        <tr>
            
            <td>{{utilisateur[0]}}</td>
            <td>{{utilisateur[1]}}</td>
            <td>{{utilisateur[2]}}</td>
            <td>{{utilisateur[3]}}</td>
            
            
        </tr>
        {%endfor%}
        
        </tr>
    </tbody>
  </table>
{% endblock %}